.ropeproject
node_modules
bower_components

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/
ckanext/.DS_Store
config/.DS_Store
ckanext/alisea/i18n/vi/.DS_Store
ckanext/alisea/i18n/my_MM/.DS_Store
ckanext/alisea/i18n/lo/.DS_Store
ckanext/alisea/i18n/km/.DS_Store
ckanext/alisea/i18n/en/LC_MESSAGES/.DS_Store
ckanext/alisea/.DS_Store
ckanext/alisea/i18n/en/.DS_Store
